/*class*/
.withtwohudr {
    width: 200%;
}

.containnn {
    width: 500px;
    border: solid 1px #000;
    display: flex;
    justify-content: space-between;
}

.b {
    width: 20%;
    border: solid 1px #000;
    height: 200px;
    margin-left: auto;
}