<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <div th:fragment="bootstrap">
      <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
      <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
<!--      <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
  </div>
</head>
<body>

</body>
</html>