<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
<!--  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mr-auto p-2 bd-highlight">
<ul class="nav nav-tabs">
  <li class="nav-item">
<!--    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>-->
        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
  </li>
  <li sec:authorize="isAuthenticated()"  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Customer</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" th:href="@{/customer}">Find Customers</a></li>
      <li><a class="dropdown-item" th:href="@{/customer/new}">New Customer</a></li>
    </ul>
  </li>
  <li  sec:authorize="isAuthenticated()"  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Book</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" th:href="@{/book}">Find Books</a></li>
      <li><a class="dropdown-item" th:href="@{/book/new}">New Book</a></li>
    </ul>
  </li>
  <li sec:authorize="isAuthenticated()"  class="nav-item">
    <a class="nav-link" th:href="@{/rezervation/unreturned}">Unreturned books</a>
  </li>
  <li sec:authorize="isAuthenticated()"  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" th:href="@{/user/edit}">Change data</a></li>
      <li><a class="dropdown-item" th:href="@{/user/password}">Change password</a></li>
    </ul>
  </li>
  <li sec:authorize="hasRole('ADMIN')"  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" th:href="@{/admin/all}">All Users</a></li>
      <li><a class="dropdown-item" th:href="@{/admin/create}">Create User</a></li>
    </ul>
  </li>


</ul>
  </div>
    <div class="d-flex justify-content-end">
      <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" class="d-flex">
        <button class="btn btn-outline-success" type="submit">Logout</button>
      </form>
    <div/>
    <div class="d-flex justify-content-end">
      <form sec:authorize="isAnonymous()" th:action="@{/login}" class="d-flex">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
</nav>








</body>
</html>