<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Find Books(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
<!--  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>


<!--<form th:action = "@{/book}" method="get">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Enter Book ID:</td>-->
<!--      <td><input id="numerSerch" type="number" name="bookid"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Enter Book namer:</td>-->
<!--      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" id="txtSerch" type="text" name="title"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <button type="submit">Find book</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->

<table class="table">
  <thead>
  <tr>
    <th scope="col">User Name</th>
<!--    <th scope="col">User Name</th>-->
    <th scope="col">E-Mail</th>
    <th scope="col">Name</th>
    <th scope="col">Vaid User</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="userX : ${userService}">
<!--          <td  th:text="*{username}">ValidUser</td>-->
<!--          <td  th:text="*{name}">ValidUser</td>-->
<!--          <td  th:text="*{email}">ValidUser</td>-->
    <td>  <a th:href="@{/admin/{username}(username=${userX.getUsername()})}" th:text="${userX.getUsername()}">username</a></td>
<!--    <td  th:text="${userX.getUsername()}">Username</td>-->
    <td  th:text="${userX.getEmail()}">Email</td>
    <td  th:text="${userX.getName()}">Name</td>
    <td  th:text="${userX.isValidUser()}">ValidUser</td>
<!--    <td  th:text="${userX.get}? 'IN USE':'DESTROYED'">VALUE</td>-->
  </tr>
  </tbody>
</table>



</body>
</html>