<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New customer(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form  th:method="POST" th:action="@{/admin/create}" th:object="${reprezentUserCreate}">
<!--  <form th:method="POST" th:action="@{/book/edit/{bookIdd}(bookIdd=${book.getBookId()})}" th:object="${book}">-->
  <table>
    <tr>
      <td>User name:</td>
<!--      <td><input  type="text" th:field="S{reprezentUser.getUsername}" id="username" readonly/></td>-->
      <td><input class="withtwohudr" type="text" th:field="*{username}" id="username"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Validation error</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td> <input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><input class="withtwohudr" type="text" th:field="*{email}" id="email"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Validation error</td>
    </tr>
    <tr>
      <td>Is Valid in user:</td>
      <td><input class="withtwohudr" type="checkbox" th:field="*{validUser}" id="validUser"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('validUser')}" th:errors="*{validUser}">Validation error</td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input class="withtwohudr" type="password" th:field="*{password}" id="password"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password</td>
    </tr>
    <tr>
      <td>Repeate password:</td>
      <td><input class="withtwohudr" type="password" th:field="*{repeatePassword}" id="repeatePassword"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('repeatePassword')}" th:errors="*{repeatePassword}">Password</td>
    </tr>
    <tr>
      <td>Role:</td>
      <td>
        <select class="withtwohudr" th:field="*{role}">
          <option th:value="29" th:text="USER"></option>
          <option th:value="28" th:text="ADMIN"></option>
        </select>
      </td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role</td>
    </tr>


    <tr>
      <td>
        </br></br>
        <input type="submit" value="Create new user">
      </td>
    </tr>
  </table>
  </br>
</form>

<!--<p th:each=" error :  ${errors}" th:text="${error}"></br></p>-->




</body>
</html>