<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Find Books(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
<!--  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>


<form th:action = "@{/book}" method="get">
  <table>
    <tr>
      <td>Enter Book ID:</td>
      <td><input id="numerSerch" type="number" name="bookid"></td>
    </tr>
    <tr>
      <td>Enter Book namer:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" id="txtSerch" type="text" name="title"></td>
    </tr>
    <tr>
      <td>
        <button type="submit">Find book</button>
      </td>
    </tr>
  </table>
</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Book ID</th>
    <th scope="col">Book title</th>
    <th scope="col">Year</th>
    <th scope="col">Publish House</th>
    <th scope="col">Author</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td>  <a th:href="@{/book/{id}(id=${book.getBookId()})}" th:text="${book.getBookId()}">nookId</a></td>
    <td  th:text="${book.getName()}">name</td>
    <td  th:text="${book.getYear()}">year</td>
    <td  th:text="${book.getPublishHouse()}">publishHouse</td>
    <td  th:text="${book.getAuthor()}">author</td>
    <td  th:text="${book.isValidBook()}? 'IN USE':'DESTROYED'">VALUE</td>
  </tbody>
</table>



</body>
</html>