<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Book(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <style>
        p {color:red;margin-left: 40px  }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form th:method="POST" th:action="@{/book/edit/{bookIdd}(bookIdd=${book.getBookId()})}" th:object="${book}">
    <table>
            <tr>
              <td>Book Id:</td>
              <td><input type="text" th:field="*{bookId}" id="bookId" readonly/></td>
            </tr>
            <tr>
            <td>Book Name:</td>
            <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
        </tr>
        <tr>
            <td>Book year:</td>
            <td><input type="text" th:field="*{year}" id="year"/></td>
        </tr>
        <tr>
            <td>Publish House:</td>
            <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{publishHouse}" id="publishHouse"/></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{author}" id="author"/></td>
        </tr>
        <tr>
            <td>Is book in use:</td>
            <td><input type="checkbox" th:field="*{validBook}" id="validBook"/></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="Save">
            </td>
        </tr>
    </table>

</form>
<p th:each=" error :  ${errors}" th:text="${error}"></br></p>
</body>
</html>