<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <div th:replace="fragments/head :: bootstrap"></div>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Book Id</th>
    <th scope="col">Book Title</th>
    <th scope="col">Book Publish Year</th>
    <th scope="col">Book PublishHouse</th>
    <th scope="col">Book Author</th>
    <th scope="col">Status</th>
    </tr>
    <tr>
        <td><p th:text="${book.getBookId()}">VALUE</p></td>
        <td><p th:text="${book.getName()}">VALUE</p></td>
        <td><p th:text="${book.getYear()}">VALUE</p></td>
        <td><p th:text="${book.getPublishHouse()}">VALUE</p></td>
        <td><p th:text="${book.getAuthor()}">VALUE</p></td>
        <td><p th:text="${book.isValidBook()}? 'IN USE':'DESTROYED'">VALUE</p></td>
    </tr>
    </thead>
</table>
<a th:href="@{/book/edit/{id}(id=${book.getBookId()})}">
    <input type="button" value="Edit Book data" />
</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Reservation Id</th>
        <th scope="col">Reservation Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer name</th>
        <th scope="col">Customer e-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerrez : ${book.getBookRezervations()}">
        <td  th:text="${customerrez.getRezervationId()}">bookCustId</td>
        <td  th:text="${customerrez.getRezervationDate()}">rezervationDate</td>
        <td  th:text="${customerrez.getReturnDate()}">returnDate</td>
        <td  th:text="${customerrez.getCustomer().getCustId()}">Customer_id</td>
        <td  th:text="${customerrez.getCustomer().getName()}">CustomerName</td>
        <td  th:text="${customerrez.getCustomer().getEmail()}">E-MAIL</td>
    </tr>
    </tbody>
</table>



</body>
</html>