<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of all Cutomers</title>
  <div th:replace="fragments/head :: bootstrap"></div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Year</th>
    <th scope="col">PublishHouse</th>
    <th scope="col">Author</th>
    <!--        <th scope="col">ValidBook</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${bookList}">

    <td>  <a th:href="@{/book/{id}(id=${book.getBookId()})}" th:text="${book.getBookId()}">customerId</a></td>
    <td  th:text="${book.getName()}">name</td>
    <td  th:text="${book.getYear()}">year</td>
    <td  th:text="${book.getPublishHouse()}">publishHouse</td>
    <td  th:text="${book.getAuthor()}">author</td>
    <!--        <td  th:text="${book.getValidBook()}">validBook</td>-->

  </tr>
  </tbody>
</table>



</body>
</html>