<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add new Book(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
  <style>
    p {color:red;margin-left: 40px  }
  </style>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form th:method="POST" th:action="@{/book/new}" th:object="${book}">
  <table>
    <tr>
      <td>Book title:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
    <tr>
      <td>Book year:</td>
      <td><input type="number" th:field="*{year}" id="year"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Validation error</td>
    </tr>
    <tr>
      <td>Publish House:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{publishHouse}" id="publishHouse"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('publishHouse')}" th:errors="*{publishHouse}">Validation error</td>
    </tr>
    <tr>
      <td>Author:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{author}" id="author"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Validation error</td>
    </tr>
    <tr>
      <td></td>
      <td>
        </br></br></br>
        <input type="submit" value="Create new Book">
      </td>
    </tr>
  </table>
</form>
</body>
</html>