<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new book(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<div th:text="${createMessage}"></div>
<form th:object="${newBookForm}" method="post" th:action="@{/book}">
    <input class="withtwohudr" th:field="*{title}" type="text">
    <input class="withtwohudr" th:field="${pcGameForm.producer}" type="text">
    <input class="withtwohudr" th:field="${pcGameForm.genre}" type="text">
    <input class="withtwohudr" th:field="${pcGameForm.minimumAge}" type="number">
    <input class="withtwohudr" th:field="${pcGameForm.isAAA}" type="checkbox">
    <button type="submit">Add Book</button>
</form>


</body>
</html>