<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<!--<h5>Customer Id:</h5>-->
<table class="table">
    <thead>
    <tr>
        <th scope="col"> <p>Customer Id</p><p th:text="${customer.getCustId()}">VALUE</p></th>
        <th scope="col"> <p>Customer name</p><p th:text="${customer.getName()}">VALUE</p></th>
        <th scope="col"> <p>E-mail</p><p th:text="${customer.getEmail()}">VALUE</p></th>
        <th scope="col"> <p>Phone</p><p th:text="${customer.getPhone()}">VALUE</p></th>
        <th scope="col"> <p>City</p><p th:text="${customer.getCity()}">VALUE</p></th>
        <th scope="col"> <p>Customer Address</p><p th:text="${customer.getAddress()}">VALUE</p></th>
        <th scope="col"> <p>Customer Status</p><p th:text="${customer.validCustomer}? 'ACTIVE':'CLOSED'">VALUE</p></th>
    </tr>
    </thead>
</table>
<a th:href="@{/customer/edit/{id}(id=${customer.getCustId()})}">
    <input type="button" value="Edit customer data" />
</a>
</br></br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Reservation Id</th>
        <th scope="col">Reservation date</th>
        <th scope="col">Return date</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Author</th>
        <th scope="col">Book ID</th>
        <th scope="col">Return</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="customerrez : ${rezcust}">
        <td  th:text="${customerrez.getRezervationId()}">bookCustId</td>
        <td  th:text="${customerrez.getRezervationDate()}">rezervationDate</td>
        <td  th:text="${customerrez.getReturnDate()}">returnDate</td>
        <td  th:text="${customerrez.getBook().getName()}">bookName</td>
        <td  th:text="${customerrez.getBook().getAuthor()}">author</td>
        <td  th:text="${customerrez.getBook().getBookId()}">bookId</td>
        <td>
            <form th:method="DELETE" th:action="@{'/returnbook/{rezid}/{id}'(rezid=${customerrez.getRezervationId()}, id=${customer.getCustId()})}">
                <input type="submit" value="Return Book"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</br></br>
<table class="table">
    <thead>
    <tr>
<td>



        <td th:switch="${customer.validCustomer}">
            <span th:case="true">
                    <a th:href="@{/rezervation/new/{id}(id=${customer.getCustId()})}">
                    <input type="button" value="Make reservation" />
                    </a>
            </span>
            <span th:case="*"><input type="button" value="Make reservation" disabled/></span>
        </td>


</td>
<td>
    <a th:href="@{/customer/{id}/history(id=${customer.getCustId()})}">
        <input type="button" value="Customer History" />
    </a>
</td>
</tr>
</tbody>
</table>
</body>
</html>