<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Find Cutomers(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
<!--  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<form th:action = "@{/customer}" method="get">
  <table>
    <tr>
      <td>Find by Customer ID:</td>
      <td><input id="numerSerch" type="number" name="custid"></td>
    </tr>
    <tr>
      <td>Find by Customer namer:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" id="txtSerch" type="text" name="customerName"></td>
    </tr>
    <tr>
      <td>
        <button type="submit">Find customer</button>
      </td>
    </tr>
  </table>
</form>

</br>
<h4  th:text="${message}">message</h4>
</br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer : ${customerList}">
    <!--        <td th:href="@{/cutomerty/{id}(id=${customer.getCustId()})}" th:text="${customer.getCustId()}">customerId</td></br>-->
    <!--        <td th:href="@{/cutomerty/{id}(id=${customer.getCustId()})}" th:text="${customer.getName()}">name</td></br>-->
    <!--        <td th:href="@{/cutomerty/{id}(id=${customer.getCustId()})}" th:text="${customer.getEmail()}">email</td></br>-->
    <td>  <a th:href="@{/customer/{id}(id=${customer.getCustId()})}" th:text="${customer.getCustId()}">customerId</a></td>
    <td  th:text="${customer.getName()}">name</td>
    <td  th:text="${customer.getEmail()}">email</td>
    <td><p th:text="${customer.validCustomer}? 'ACTIVE':'CLOSED'">VALUE</p></td>
<!--    <td><p th:text="${customer.isValidCustomer()}? 'ACTIVE':'CLOSED'">VALUE</p></td>-->
  </tr>
  </tbody>
</table>



</body>
</html>