<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers History(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<!--<h6 th:text="${customer.getCustId()}">VALUE</h6>-->
<!--<h6 th:text="${customer.getName()}">VALUE</h6>-->
<!--<h6 th:text="${customer.getEmail()}">VALUE</h6>-->
<!--<h6 th:text="${customer.getValidCustomer()}">VALUE</h6>-->
<table class="table">
    <thead>
    <tr>
        <th scope="col"> <p>Customer Id</p><p th:text="${customer.getCustId()}">VALUE</p></th>
        <th scope="col"> <p>Customer name</p><p th:text="${customer.getName()}">VALUE</p></th>
        <th scope="col"> <p>E-mail</p><p th:text="${customer.getEmail()}">VALUE</p></th>
        <th scope="col"> <p>Phone</p><p th:text="${customer.getPhone()}">VALUE</p></th>
        <th scope="col"> <p>City</p><p th:text="${customer.getCity()}">VALUE</p></th>
        <th scope="col"> <p>Customer Address</p><p th:text="${customer.getAddress()}">VALUE</p></th>
    </tr>
    </thead>
</table>
</br></br>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Reservation Id</th>
        <th scope="col">Reservation date</th>
        <th scope="col">Return date</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Author</th>
        <th scope="col">Book ID</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="customerrez : ${rezcust}">
        <td  th:text="${customerrez.getRezervationId()}">bookCustId</td>
        <td  th:text="${customerrez.getRezervationDate()}">rezervationDate</td>
        <td  th:text="${customerrez.getReturnDate()}">returnDate</td>
        <td  th:text="${customerrez.getBook().getName()}">bookName</td>
        <td  th:text="${customerrez.getBook().getAuthor()}">author</td>
        <td  th:text="${customerrez.getBook().getBookId()}">biikId</td>

    </tr>
    </tbody>
</table>


<a th:href="@{/customer/{id}(id=${customer.getCustId()})}">
    <input type="button" value="Back to Customer" />
</a>

</body>
</html>