<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New customer(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
  <style>
    p {color:red;margin-left: 40px  }
  </style>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form th:method="POST" th:action="@{/customer/edit/{id}(id=${customer.getCustId()})}" th:object="${customer}">
  <table>
    <tr>
      <td>Customer ID:</td>
      <td><input type="text" th:field="*{custId}" id="custId" readonly/></td>

    </tr>

    <tr>
      <td>Customer name:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td> <input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{email}" id="email"/></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" th:field="*{phone}" id="phone"/></td>
    </tr>
    <tr>
      <td>Registration Number:</td>
      <td><input type="text" th:field="*{regnr}" id="regnr" readonly/></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{city}" id="city"/></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{address}" id="address"/></td>
    </tr>
    <tr>
      <td>Existing Customer:</td>
      <td><input type="checkbox" th:field="*{validCustomer}" id="validCustomer"/></td>
    </tr>




    <tr>
      <td>
        </br></br>
        <input type="submit" value="Update customer data">
      </td>
    </tr>
  </table>
  </br>
  <a th:href="@{/customer/{id}(id=${customer.getCustId()})}">
    <input type="button" value="Back to Customer" />
  </a>
</form>

<p th:each=" error :  ${errors}" th:text="${error}"></br></p>




</body>
</html>