<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers History(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>



<table class="table">
    <thead>
    <tr>
        <th scope="col">Reservation Id</th>
        <th scope="col">Reservation date</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer name</th>
        <th scope="col">Customer phone</th>
        <th scope="col">Book status</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="rezervation : ${rezList}">
        <td  th:text="${rezervation.getRezervationId()}">bookCustId</td>
        <td  th:text="${rezervation.getRezervationDate()}">rezervationDate</td>
<!--        <td  th:text="${rezervation.getReturnDate()}">returnDate</td>-->
        <td  th:text="${rezervation.getBook().getName()}">bookName</td>
<!--        <td  th:text="${rezervation.getBook().getAuthor()}">author</td>-->
        <td  th:text="${rezervation.getBook().getBookId()}">biikId</td>
        <td  th:text="${rezervation.getCustomer().getCustId()}">custId</td>
            <td  th:text="${rezervation.getCustomer().getName()}">name</td>
            <td  th:text="${rezervation.getCustomer().getPhone()}">phone</td>
            <td th:text="${rezervation.getBook().isValidBook()}? 'IN USE':'DESTROYED'">VALUE</td>
    </tr>
    </tbody>
</table>

</body>
</html>