<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book reservation for customer(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
<!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col"> <p>Customer Id</p><p th:text="${customer.getCustId()}">VALUE</p></th>
        <th scope="col"> <p>Customer name</p><p th:text="${customer.getName()}">VALUE</p></th>
        <th scope="col"> <p>E-mail</p><p th:text="${customer.getEmail()}">VALUE</p></th>
        <th scope="col"> <p>Phone</p><p th:text="${customer.getPhone()}">VALUE</p></th>
        <th scope="col"> <p>City</p><p th:text="${customer.getCity()}">VALUE</p></th>
        <th scope="col"> <p>Customer Address</p><p th:text="${customer.getAddress()}">VALUE</p></th>
    </tr>
    </thead>
</table>
</br></br>


<form th:action = "@{/rezervation/new/{id} (id=${customer.getCustId()})}" method="get">
    <table>
        <tr>
            <td>Enter Book ID:</td>
            <td><input id="numerSerch" type="number" name="bookid"></td>
        </tr>
        <tr>
            <td>Enter Book namer:</td>
            <td><input id="txtSerch" type="text" name="title"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Find book</button>
            </td>
        </tr>
    </table>
</form>



<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">PublishHouse</th>
        <th scope="col">Author</th>
        <th scope="col">make rezervation</th>
        <!--        <th scope="col">ValidBook</th>-->
    </tr>
    </thead>
    <tbody>
<tr th:each="book : ${books}">

<!--    <td>  <a th:href="@{/book/{id}(id=${book.getBookId()})}" th:text="${book.getBookId()}">customerId</a></td>-->
    <td  th:text="${book.getBookId()}">name</td>
    <td  th:text="${book.getName()}">name</td>
    <td  th:text="${book.getYear()}">year</td>
    <td  th:text="${book.getPublishHouse()}">publishHouse</td>
    <td  th:text="${book.getAuthor()}">author</td>
    <td>
        <form th:method="POST" th:action="@{'/rezervation/add/{id}/{bookId}'(id=${customer.getCustId()}, bookId=${book.getBookId()})}">
            <input type="submit" value="Rezerv Book"/>
        </form>
    </td>
    <!--        <td  th:text="${book.getValidBook()}">validBook</td>-->

</tr>
    </tbody>
</table>



</body>
</html>