<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book reservation for customer(Library)</title>
    <div th:replace="fragments/head :: bootstrap"></div>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col"> <p>Customer Id</p><p th:text="${customer.getCustId()}">VALUE</p></th>
        <th scope="col"> <p>Customer name</p><p th:text="${customer.getName()}">VALUE</p></th>
        <th scope="col"> <p>E-mail</p><p th:text="${customer.getEmail()}">VALUE</p></th>
        <th scope="col"> <p>Phone</p><p th:text="${customer.getPhone()}">VALUE</p></th>
        <th scope="col"> <p>City</p><p th:text="${customer.getCity()}">VALUE</p></th>
        <th scope="col"> <p>Customer Address</p><p th:text="${customer.getAddress()}">VALUE</p></th>
    </tr>
    </thead>
</table>
</br></br>

<form th:method="POST" th:action="@{/rezervation}" th:object="${bookId}  th:object="${bookTitle}">
    <label for="bookId">Enter Customer name:</label>
    <input type="number" th:field="*{bookId}" id="bookId"/><br>
    <label for="bookTitle">Enter Customer email:</label>
    <input type="text" th:field="*{bookTitle}" id="bookTitle"/><br>
    <input type="submit" value="Find book by Title">
</form>

</body>
</html>