<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New customer(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>



<form th:method="POST" th:action="@{/customer}" th:object="${customer}">
  <table>
    <tr>
      <td>Enter Customer name:</td>
      <td><input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</td>
    </tr>
    <tr>
      <td>Enter Customer email:</td>
      <td> <input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{email}" id="email"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Validation error</td>
    </tr>
    <tr>
      <td>Enter Customer Phone:</td>
      <td><input class="withtwohudr" type="text" th:field="*{phone}" id="phone"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Validation error</td>
    </tr>
    <tr>
      <td>Enter Customer Registration Number:</td>
      <td><input class="withtwohudr" type="text" th:field="*{regnr}" id="regnr"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('regnr')}" th:errors="*{regnr}">Validation error</td>
    </tr>
    <tr>
      <td>Enter Customer city:</td>
      <td><input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{city}" id="city"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Validation error</td>
    </tr>
    <tr>
      <td>Enter Customer address:</td>
      <td><input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{address}" id="address"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Validation error</td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Create customer">
      </td>
    </tr>
  </table>
</form>
<!--      <p th:each=" error :  ${errors}" th:text="${error}"></br></p>-->
</body>
</html>