<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New customer(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form  th:method="POST" th:action="@{/user/edit}" th:object="${reprezentUserData}">
<!--  <form th:method="POST" th:action="@{/book/edit/{bookIdd}(bookIdd=${book.getBookId()})}" th:object="${book}">-->
  <table>
    <tr>
      <td>User name:</td>
<!--      <td><input  type="text" th:field="S{reprezentUser.getUsername}" id="username" readonly/></td>-->
      <td><input class="withtwohudr" type="text" th:field="*{username}" id="username" readonly/></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td> <input class="withtwohudr" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" type="text" th:field="*{name}" id="name"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><input class="withtwohudr" type="text" th:field="*{email}" id="email"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Validation error</td>
    </tr>
<!--    <tr>-->
<!--      <td>Role:</td>-->
<!--      <td><input type="text" th:if="*{role==28}" id="role" readonly/></td>-->
<!--      <td class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role</td>-->
<!--    </tr>-->

    <tr>
      <td>
        </br></br>
        <input type="submit" value="Update user data">
      </td>
    </tr>
  </table>
  </br>
</form>

<!--<p th:each=" error :  ${errors}" th:text="${error}"></br></p>-->




</body>
</html>