<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New customer(Library)</title>
  <div th:replace="fragments/head :: bootstrap"></div>
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
  <style>
    p {color:red;margin-left: 40px  }
  </style>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<br><br>
<form  th:method="POST" th:action="@{/user/password}" th:object="${reprezentUserPassword}">
  <table>
    <tr>
      <td>User name:</td>
      <td><input class="withtwohudr" type="text" th:field="*{username}" id="username" readonly/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Validation error</td>

    </tr>
    <tr>-
      <td>OldPassword:</td>
      <td> <input class="withtwohudr" type="password" th:field="*{oldPassword}" id="oldPassword"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Validation error</td>
    </tr>
    <tr>
      <td>New Password:</td>
      <td> <input class="withtwohudr" type="password" th:field="*{password}" id="password"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Validation error</td>
    </tr>

    <tr>
      <td>New Password Repeat:</td>
      <td> <input class="withtwohudr" type="password" th:field="*{passwordRepeat}" id="passwordRepeat"/></td>
      <td class="form-text text-danger" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Validation error</td>
    </tr>
    <tr>
      <td>
        </br></br>
        <input type="submit" value="Change Password">
      </td>
    </tr>
  </table>
  </br>
</form>

<!--<p th:each=" error :  ${errors}" th:text="${error}"></br></p>-->




</body>
</html>